node_modules/
dist/
build/
**/artifact/

apps/desktop/resources/native/*.node

native/electron-spout/build/
native/electron-spout/release/
native/electron-spout/vcpkg_installed/

*.log
*.asar
.DS_Store
Thumbs.db
.idea/
.vs/
*.user
